body
{
	background-color: black;
	color: orange;
	font-family: false_nine-webfont;
}
.start
{	background-color: #FFE4B5;
	color: black;
	height: 738px;
}
.back1
{
	 width: 100%;
    height: auto;
    z-index: -1;
}
.text1
{
	position: absolute;
	top:11%;
	left: 12%;
	font-family: false_nine-webfont;
	font-size: 80px;
}
.text2
{
	position: absolute;
	top:45%;
	left: 22%;
	font-family: false_nine-webfont;
	font-size: 100px;
}
.text2:hover, .text1:hover, .text3:hover
{
color: yellow;
}
.text3
{
	position: absolute;
	top:11%;
	left:40%;
	font-family: false_nine-webfont;
	font-size: 80px;
}
.text4
{
	position: absolute;
	top:45%;
	left: 77%;
	font-family: false_nine-webfont;
	font-size: 100px;
}
.fir
{
position: absolute;
top:85%;
left:18%;
width: 200px;
height: 200px;
 transition: all 0.9s ease;
 transform-style: preserve-3d; 
 font-family: false_nine-webfont;
 box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);
border-top: 3px solid #a951ed;
border-radius: 0.375rem;
display: inline-block;
text-align: center;
background-color: #fff;
}
.sec
{
	position: absolute;
	top:85%;
	left: 41%;
	width: 200px;
height: 200px;
transition: all 0.9s ease;
transform-style: preserve-3d; 
font-family: false_nine-webfont;
box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);
border-top: 3px solid #a951ed;
border-radius: 0.375rem;
display: inline-block;
text-align: center;
background-color: #fff;
}
.thi
{
	position: absolute;
	top:85%;
left: 63%;
width: 200px;
height: 200px;
 transition: all 0.6s ease-in-out;
 transform-style: preserve-3d; 
 font-family: false_nine-webfont;
 box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);
border-top: 3px solid #a951ed;
border-radius: 0.375rem;
display: inline-block;
text-align: center;
background-color: #fff;

}
.fir:hover
{transform: rotateY(180deg);
}

.sec:hover
{
	transform: rotateY(180deg);
}

.thi:hover
{
	transform: rotateY(180deg);
}


.front
{
	position: absolute;
	top:0%;
left: 0%;
width: 200px;
height: 200px;
backface-visibility: hidden;
	transform: rotateY(0deg);
}
.back
{
		position: relative;
	top:0%;
left: 0%;
width: 200px;
height: 200px;
backface-visibility: hidden;
	transform: rotateY(180deg);
}
.inbox
{
padding-top: 86px;
}
.skill
{
	position: absolute;
	height: 50px;
	background-color: yellow;
	width: 1349px;
	height: 200px;
margin-top: 21px;
}

.lef
{
width: 430px;
height: 900px;
background: #AFEEEE;
position: absolute;
margin-top: 230px;
margin-left: 30px;
}
.rig
{
width: 820px;
height: 900px;
background: #FFDAB9;
margin-top: 230px;
position: absolute;
margin-left: 500px;
}
.limg
{
	width: 430px;
	height: 340px;

}
hr
{
width: 400px;}
.outer
{
width: 380px;
background: #ffffff;
height: 25px;
margin-left: 25px;
border-radius: 10px;
}
.inner
{
background: #009688;
height: 25px;
border-radius: 10px;
}
.skiname
{
	margin-left: 36px;
	margin-top: 15px;
}
@font-face {
font-family: "false_nine-webfont";
src: url("fonts/false_nine-webfont.otf"),
url("fonts/false_nine-webfont.woff") format("woff"),
url("fonts/false_nine-webfont.otf") format("opentype"),
url("fonts/false_nine-webfont.svg#filename") format("svg");
font-weight: normal;
font-style: normal;
}
